// Sub theme styling.
@import 'variables_drupal';

// Bootstrap overridden variables.
// @see https://getbootstrap.com/docs/5.2/customize/sass/#variable-defaults.
@import 'variables_bootstrap';

// Include bootstrap.
@import '../../../../../vendor/drupal/bootstrap5/scss/style';

#block-eastindiawills-unb-lib-ca-content {
  .node--type-eiw-will.node--view-mode-full {
    .field {
      margin-top: .5rem;
    }
  }
  .paragraph--type--eiw-will-voyage.paragraph--view-mode--default {
    margin-bottom: 1rem;
    padding-left: 1rem;
    .field {
      margin-top: 0 !important;
      .field__label {
        display: inline-block;
        font-weight: normal;
        &::after {
          content: ':';
        }
      }
      .field__item {
        display: inline-block;
        margin-left: .2rem;
      }
    }
  }
  .view-id-audit_wills.view-display-id-page_1 {
    .view-content {
    }
  }
}

#block-eastindiawills-unb-lib-ca-exposedformwillspage-1 {
  #views-exposed-form-wills-page-1 {
    fieldset {
      width: 100%;
    }
  }
}